* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  vertical-align: baseline;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: 2px solid #446;
}

::placeholder {
  color: #888;
}

[disabled] {
  color: #888;
  background: currentColor;
  cursor: not-allowed;
}

html {
  line-height: 1.5;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

input, button, textarea, select{
  font: inherit;
  border: 1px solid #000;
  border-radius: 0;
  color: #000;
  background: transparent;
  background-image: none;
  box-shadow: none;
}
