:root {
  --primary-color: #f4f4f4;
  line-height: 1.5;
  font-size: 1rem;
  /* font-size: calc(0.75rem + 1vmax); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

/* [Tweaks] */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: 0.125rem initial;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

[disabled]:hover {
  background-color: inherit;
}


/* reset margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
div {
  margin: 0;
  padding: 0;
}


/* Typhography */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.25em; 
}

p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: 2em;
}
 
p + p {
  margin-top: 0.75em; 
}


/* Link */
a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* tweak for right outline */
a > img {
  vertical-align: middle;;
}


/* Media */
img, video {
  border-style: none;
  max-width: 100%;
  height: auto;
}


/* List */
ol,
ul {
  list-style: none;
}


/* Layout */
[data-grid] {
  font-size: 1rem;
  display: grid;
  grid-template-areas: var(--layout, ". .");
}


/* Card */
[data-card] {
  font-size: 1rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  padding: 1em;
}


/* Table */
table {
  font-size: 1rem;
  border-collapse: collapse;
}

th, td {
  padding: 0.125em 0.25em;
}

th {
  text-align: center;
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
}

td {
  text-align: start;
}

tbody > tr:not(:last-of-type) {
  border-bottom: 0.03125em solid;
}

tr > *:not(:last-of-type) {
  border-right: 0.03125em solid;
}

tr:hover {
  background-color: var(--primary-color);
}


/* Form */
button,
input,
select,
textarea {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

button:not([disabled]):hover,
input[type="range"]:not([disabled]):hover,
select:not([disabled]):hover,
label[for]:hover,
input[type="checkbox"]:not([disabled]):hover,
input[type="radio"]:not([disabled]):hover {
  cursor: pointer;
}

input[type="file"] {
  width: 100%;
}

button,
input:not([type="file"]),
select, 
textarea,
fieldset {
  border: 0.03125em solid;
  border-radius: 0.25rem;
}

input:not([type="range"]),
select,
textarea {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

input[type="date"] {
  height: calc(1.5em * 1.03125);
}
select {
  min-height: calc(1.5em * 1.03125);
}

textarea {
  min-height: 6em;
  overflow: auto;
}

input[type="checkbox"] + label,
input[type="radio"] + label,
label + input[type="checkbox"],
label + input[type="radio"] {
  margin-left: 0.25em;
}

input[type="checkbox"],
input[type="radio"] {
  transform: scale(1.5);
}


/* Button */
input[type="submit"],
input[type="reset"],
button {
  padding: 0.125em 0.25em;
  word-break: break-word;
}


/* Code */
code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", monospace;
}
